<!-- displays a basic user guide and rules of conduct -->
<div class="jumbotron">
  <div class="container">
    <h1 class="text-center">Rules of Conduct</h1>
    <br/><hr><br />
    <h4>Guide</h4>
    <p>
      <b>Argumentation Evaluation:</b> Refers to the theory of how arguments on this website are evaluated without reading the arguments themselves.<br /><br />
      Users can submit as many arguments and debates as they wish.
      Users can rate an argument as relevant or irrelevant.
      Users can report arguments and debates for inappropriate behaviour or misconduct.
      If a user has more than 10 of their arguments or debates reported, they receive a 1 week ban from the system.
      The user will not be able to read or submit arguments or debates during this ban period.
      The user will not be able to appeal this ban.<br /><br />
      To understand what constitues as misconduct, please refer to the rules below.
    </p>
    <br/><hr><br />
    <h4>Safety</h4>
      <p>Exploiting other users is strictly prohibited.<br />
      All forms of bullying, harassment and privacy breaches are not allowed on this site.<br />
      Any incidents can be easily reported.</p>
    <br />
    <h4>Content</h4>
      <p>The following forms of content all prohibited:</p>
      <ul>
        <li>Hate speech</li>
        <li>Graphic content</li>
        <li>Cruel and insensitive content</li>
        <li>Links to mature content</li>
      </ul>
    <br />
    <h4>Integrity</h4>
      <p>
        Spam of arguments and debates are not permitted on this site. <br />
        Repeated reports can lead to a temporary ban. <br /><br />
        Purposefully spreading false news and misinformation on the site is strictly prohibited. <br />
        Argumentation Evaluation does not include fact checking. <br />
        The spread of false news can lead to inaccurate debate results. <br /><br />
        Each user has a right to their own intellectual property (IP). That property must be respected.
      </p>
    <br />
    <h4>Criminal Behaviour</h4>
    <p>The following forms of activity all prohibited:</p>
    <ul>
      <li>Any activity that may lead to physical harm</li>
      <li>Any activity that may cause a direct threat to public safety</li>
      <li>Terrorist activity</li>
      <li>Hate crimes</li>
      <li>Organised crime</li>
      <li>Coordinating harm</li>
    </ul>
  </div>
</div>
